{{extend 'base.html'}}

<div class="container">
  <div class="row my-4">
    <div class="col-md-6">
      <h4 class="text-center">Lançamentos</h4>
    </div>
    <div class="col-md-6 text-center"><h4>Movimentações</h4></div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6 my-3">
      <form>
        
        <div class="form-group">
          <label for="exampleFormControlSelect1">Tipo de Lançamento</label>
          <select class="custom-select" id="select-tipo-lancamento" required>
              <option selected value="">Escolha o tipo</option>
              {{for tipo in tipos:}}
              <option value="{{=tipo.tipo}}">{{=tipo.tipo}}</option>
              {{pass}}
            </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <select class="custom-select" id="select-categoria-lancamento" required>
              <option selected value="">Escolha a categoria</option>
              {{for conta in contas:}}
                {{for tipo in tipos:}}
                  {{if tipo.id == conta.tipo and not conta.conta_pai:}}
                    <option value="{{=conta.descricao}}" data-tipo="{{=tipo.tipo}}">{{=conta.descricao}}</option>
                  {{pass}}
                {{pass}}
              {{pass}}
            </select>
          </div>
              <select class="custom-select" id="select-descricao-lancamento" required>
              <option selected value="">Escolha a descrição</option>
              {{for conta in contas:}}
                {{for conta2 in contas:}}
                  {{if conta2.id == conta.conta_pai:}}
                    <option value="{{=conta.descricao}}" data-categoria="{{=conta2.descricao}}">{{=conta.descricao}}</option>
                  {{pass}}
                {{pass}}
              {{pass}}
            </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">R$</span>
          </div>
          <input type="number" class="form-control" placeholder="Valor do Lançamento" required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
      </form>
      
    </div>
    <div class="col-md-12 col-lg-6 my-3 text-center">
        <div class="row mb-4">
        <div class="col-md-12">
          <div class="row">
            <div class="col"><h5>Saldo Atual</h5></div>
          </div>
          <div class="row">
            <div class="col"><h6>-2999.32</h6></div>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col"><h5>Histórico</h5></div>
        </div>
        <div class=row>
            <div class="col-md-3">Valor</div>
            <div class="col-md-3">Conta</div>
            <div class="col-md-3">Data do Lançamento</div>
            <div class="col-md-3">Isaac Batista</div>
          </div>
        <div class=row>
          <div class="col-md-3">+2302.32</div>
          <div class="col-md-3">Recebimento de Cliente</div>
          <div class="col-md-3">12/02/2019</div>
          <div class="col-md-3">Isaac Batista</div>
        </div>
        <div class=row>
          <div class="col-md-3">+2302.32</div>
          <div class="col-md-3">Recebimento de Cliente</div>
          <div class="col-md-3">12/02/2019</div>
          <div class="col-md-3">Isaac Batista</div>
        </div>
    </div>
  </div>
</div>
    