{{extend 'base.html'}}

<div class="container-fluid py-4 ">
  <div class="container  ">
    <div class="row justify-content-center  ">
      <div class="col-md-5 text-center  ">
        <h3 class="">Plano de Contas</h3>
      </div>
    </div>
    <div class="container shadow p-3 mb-5 bg-white rounded">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item ">
          <a class="nav-link active" id="receitas-tab" data-toggle="tab" href="#receitas" role="tab"
            aria-controls="home" aria-selected="true">Receitas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="despesas-tab" data-toggle="tab" href="#despesas" role="tab" aria-controls="profile"
            aria-selected="false">Despesas</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="receitas" role="tabpanel" aria-labelledby="receitas-tab">
          <div class="row my-3 shadow p-3 mb-5 bg-white rounded">
            <div class="col-md-3 col-sm-6 col-12 my-2 ">

              <button class="btn btn-outline-primary btn-block h-100" id="abrir-cadastrar-receita" data-toggle="modal"
                data-target="#modal-cadastrar-classificacao">
                Cadastrar classificação
              </button>
            </div>
            {{for conta in contas:}}
            {{if conta.tipo==4 and not conta.conta_pai :}}
            <div class="col-md-3 col-sm-6 col-12 my-2">
              <h5 class="align-middle text-center ">
                {{=A(conta.descricao, _href=URL('default','conta',args=conta.id),_class='text-dark')}}
              </h5>

              <ul class="list-group">
                {{for conta2 in contas:}}
                {{if conta.id==conta2.conta_pai:}}
                <li class="list-group-item text-center">{{=conta2.descricao}}</li>
                {{
                          pass
                        }}
                {{
                          pass
                        }}
                <li class="list-group-item">
                  <button class="btn btn-primary btn-block">
                    Cadastrar item
                  </button>
                </li>
              </ul>
            </div>
            {{ pass }}
            {{ pass }}
          </div>
        </div>
        <div class="tab-pane fade" id="despesas" role="tabpanel" aria-labelledby="despesas-tab">
          <div class="row my-3 shadow p-3 mb-5 bg-white rounded">
            <div class="col-md-3 col-sm-6 col-12 my-2 ">

              <button class="btn btn-outline-primary btn-block h-100" id="abrir-cadastrar-despesa" data-toggle="modal"
                data-target="#modal-cadastrar-classificacao">
                Cadastrar classificação
              </button>
            </div>
            {{for conta in contas:}}
            {{if conta.tipo == 3 and not conta.conta_pai:}}
            <div class="col-md-3 col-sm-6 col-12 my-2">
              <h5 class="align-middle text-center ">
                {{=A(conta.descricao, _href=URL('default','conta',args=conta.id),_class='text-dark')}}
              </h5>

              <ul class="list-group">
                {{for conta2 in contas:}}
                {{if conta.id==conta2.conta_pai:}}
                <li class="list-group-item text-center">{{=conta2.descricao}}</li>
                {{
                      pass
                    }}
                {{
                      pass
                    }}
                <li class="list-group-item">
                  <button class="btn btn-primary btn-block">
                    Cadastrar item
                  </button>
                </li>
              </ul>
            </div>
            {{ pass }}
            {{ pass }}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-cadastrar-classificacao" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label-criar-classificacao">Cadastrar conta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="#" enctype="multipart/form-data" method="post">
          <div class="form-group fg-classificacao-cadastro">
            <label for="input-classificacao-cadastro" id="label-nome-cadastro">Nome</label>
            <input type="text" name="descricao" class="form-control" aria-label="classificacao"
              id="input-classificacao-cadastro" required />
          </div>
          <input type="hidden" name="tipo" id="tipo-cadastro" value="">
          <input type="hidden" name="_formname" value="cadastrar-conta" />
          <button type="submit" class="btn btn-primary">Cadastrar Conta</button>
        </form>

      </div>
    </div>
  </div>
</div>
</div>