<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../../../favicon.ico" />

    <title>Plano de Contas</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Custom styles for this template -->
    <link href="{{=URL('static','css/style.css')}}" rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-azul">
      <div class="container">
        <a class="navbar-brand text-white" href="{{=URL('index')}}">Sistema</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a
              class="nav-item nav-link active text-white"
              href="{{=URL('index')}}"
              >Home <span class="sr-only">(current)</span></a
            >
            <a
              class="nav-item nav-link text-white"
              href="{{=URL('plano_de_contas')}}"
              >Plano de Contas</a
            >
            <a class="nav-item nav-link text-white" href="#">Minha Conta</a>
            <a class="nav-item nav-link text-white" href="#">Sair</a>
          </div>
        </div>
      </div>
    </nav>
    {{ include }}

    <footer class="container">
      <p>&copy; IFRN 2019</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
      type="text/javascript"
      src="{{=URL('static','js/jquery.js')}}"
    ></script>
    <!--
      Jquery do Bootstrap
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    -->
    <script>
      $(document).ready(function(){
        $(".apagar").click(function(){
          $(this).hide();
        });

        $('#select-classificacao').on('change', function(){
          var tipo = this.value;
          $('#select-categoria option').each(function(){
              var $this = $(this);
              if($this.data('tipo') == tipo) $this.show();
              else $this.hide();
          });
        });
        $('#select-categoria').on('change', function(){
          var categoria = this.value;
          $('#select-descricao option').each(function(){
              var $this = $(this);
              if($this.data('categoria') == categoria) $this.show();
              else $this.hide();
          });
        });

        var tipocadastro; 
        $('#select-tipo').on('change',function(){
          var tipo = this.value;
            if(tipo == "conta") {
              $('.fg-categoria-cadastro').show();
              $('.fg-descricao-cadastro').hide();
              $('#form-select-categoria-lancamento').hide();
              tipocadastro = 0;
            }
            else {
              $('.fg-categoria-cadastro').hide();
              $('.fg-descricao-cadastro').show();
              $('#form-select-categoria-lancamento').show();
              tipocadastro = 1;
            }

    
      });
      });
    </script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>'
        );
    </script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
