<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Plano de Contas</title>

    <!-- Bootstrap core CSS -->
    <link href="{{=URL('static','css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{=URL('static','css/style.css')}}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-azul">
      <div class="container">
        <a class="navbar-brand text-white" href="#">Sistema</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active text-white" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link text-white" href="#">Plano de Contas</a>
            <a class="nav-item nav-link text-white" href="#">Minha Conta</a>
            <a class="nav-item nav-link text-white" href="#">Sair</a>
          </div>
        </div>
      </div>
      
    </nav>
    {{include}}

    <footer class="container">
      <p>&copy; IFRN 2019</p>
    </footer>
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{=URL('static','js/jquery.js')}}"></script>
    <!--
      Jquery do Bootstrap
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    -->
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

    <script src="{{=URL('static','js/popper.min.js')}}"></script>
    
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  </body>
</html>
