.bg-azul{
	background-color: #2B7CD5;
	color:white;
}

.bg-verdeescuro	{
	background-color: #9DB309;
}

.bg-verdeclaro{
	background-color: #B5CC14;
}


.bg-azul-claro{
	background-color: #6078CC;
}
.bg-azulbebe{
	background-color: #125FB3;
}

.text-azul{
	color:#125FB3;
}

.bg-azulzinho{
	background-color: #464D1F;
}